/* color schemes */
:root{
  --accent: #F29C50;
  --darkaccent: #b45235;
  --text: #fbfafa;
  --background: #080603; 


}
/* main */
.App {
  height: 100vh;
  width: 100vw;
  

}

.general{
  background-color: var(--background);
  text-align: center;
  color: var(--text);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.text{
   text-align: center;
  color: var(--text);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App-header {
  display: flex;
  

}

.b{
  background-color: palevioletred;
}

a, .link{
  text-decoration: none;
}

a:hover, .link:hover{
  color: var(--darkaccent);
  text-decoration: none;
}

.error-page{
    background:url("../images/krakenimages-.jpg");
    /* min-width: 100vh; */
    height: 95vh;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: cover;
    
}

/* homepage pictures */
.hp-pic{
  height: 99vh;
  width: 25%;
  float: left;
}

/* inputs/ submits/ buttons*/
.form1{
    /* background-color: var(--background); */
    width: 90%;
    border-radius: 26px;
}

button{
  outline: none;
}

.fghh{
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)),url("../images/mihai-surdu-Ma3FsU1YuM4-unsplash.jpg");
    /* min-width: 100vh; */
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
    
}

.login-input{
  padding: 26px;
  border: 1px solid var(--text);
  border-radius: 20px;
  height: 60px;
  width: 30%;
  background-color: var(--background);
  color:var(--text);
  outline: none;
}

.search-input{
  padding: 18px;
  border: 1px solid var(--text);
  border-radius: 20px;
  height: 1px;
  width: 330px;
  background-color: var(--background);
  color:var(--text);
  outline: none;
}

.signup-input{
  padding: 26px;
  border: 1px solid var(--text);
  border-radius: 20px;
  height: 60px;
  width: 100%;
  background-color: var(--background);
  color:var(--text);
  outline: none;
}

.login-submit{
  height: 50px;
  width: 100px;
  background-color: var(--accent);
  color: var(--text);
  transition: all .3s ease-in-out;
  transform: translateZ(0);
  border: 2px solid var(--text);
  outline: none;
}

.login-submit:hover{
  transform: scale(1.1);
}

.login-input, .login-submit{
  outline: none;
}

/* animation entrance */
.animate-enter {
  animation: animate-enter-frames 0.9s ease-in 0s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(25px, 0);
}
@keyframes animate-enter-frames {
  from {
    opacity: 0;
    transform: translate(25px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.search{
  width:40%;
}

