@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

/* color schemes */
html[data-theme="dark"]{
  /* --accent: #ff6300; */
  /* --darkaccent: #b45235; */
  --text: #fbfafa;
  --background: #080603; 
}

html[data-theme="light"]{
  --text: #080603;
  --background: #fbfafa;
}

/* main */
.App {
  min-height: 100vh;
  max-width: 100vw;
  font-family: 'Source Sans Pro', system-ui, sans-serif;
  text-align: center;

}

.general{
  background-color: var(--background);
  color: var(--text);

}

.text{
  /* text-align: center; */
  color: var(--text);
  font-family: 'Source Sans Pro', system-ui, sans-serif;
}

.App-header {
  display: flex;

}

.pvr{
  background-color: palevioletred;
}
.b{
  background-color: blue;
}
a, .link, Link{
  text-decoration: none;
}

a:hover, .link:hover, Link:hover{
  color: var(--darkaccent);
  text-decoration: none;
}

.error-page{
  
    /* background:url("../images/krakenimages-.jpg"); */
    /* min-width: 100vh; */
    background-color: var(--accent);
    background-image: repeating-linear-gradient(147deg, #FFE53B, #f29c50, #FFE53B, #f29c50);
    animation: gradient 6s infinite linear;
    /* height: calc(100vh - 56px);  */
    height: 100vh;
    background-size: 300% 100%;
    /* background-repeat: no-repeat; */
    /* background-position: cover; */
    

}
@keyframes gradient {
	 0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
/* homepage pictures */
.hp-pic{
  height: 99vh;
  width: 25%;
  float: left;
}

/* inputs/ submits/ buttons*/
.login-form{
    /* background-color: var(--background); */
    width: auto;
    border-radius: 26px;
    
}

.sign-form{
    /* background-color: var(--background); */
    border-radius: 26px;
    background-color:rgba(0, 0, 0, 0.7);
    width: 50%;
}

button{
  outline: none;
}
button:hover{
  text-decoration: none;
}
.display{
  display: flex;
}

.login-pic{
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.6)),url("../images/vinicius-amnx-amano.jpg"); 
    
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 100vh; */
    /* background-color: #080603; */
    /* background-image: url("../images/login.svg");
    background-position: right bottom 6650px;
    display: flex; */
    
}

.sign-pic{
    background:  linear-gradient(rgba(10, 10, 10, 0.2), rgba(10, 10, 10, 0.6)),url("../images/ruslan-bardash.jpg"); 
    /* min-width: 100vh; */
    /* min-height: 100vh; */
    background-size: cover;
    background-repeat: no-repeat;

    /* background-image: url("../images/signup.svg");
    background-position: right bottom;
    background-size: contain; */
}

.login-input{
  padding: 26px;
  border: 1px solid white;
  border-radius: 20px;
  height: 60px;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--text);
  outline: none;
}
.login-error{
  padding: 26px;
  border: 2px solid red;
  border-radius: 20px;
  height: 60px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--text);
  outline: none;
}

.error-msg{
  font-weight: 900;
}
.change{
    width: 90%;
  }
.change::placeholder{
  color: black;
}

.signup-input{
  padding: 26px;
  border: 1px solid white;
  border-radius: 20px;
  height: 60px;
  width: 50%;
  background-color:rgba(0, 0, 0, 0.2);
  color: var(--text);
  outline: none;
}
.signup-error{
  padding: 26px;
  border: 2px solid red;
  border-radius: 20px;
  height: 60px;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.2);
  color: var(--text);
  outline: none;
}

.login-submit{
  height: 50px;
  width: 100px;
  transition: all .3s ease-in-out;
  background-color: var(--accent);
  /* color: var(--text);
  transform: translateZ(0);
  border: 2px solid var(--text);
  outline: none; */
}
.btn{
  background-color: var(--accent);
  /* color: var(--accent); */
}
.login-submit:hover{
  transform: scale(1.1);
}

.login-input, .login-submit{
  outline: none;
}
.edit-input{
  width: 100%;
  height: 60px;
  padding: 26px;
  border: 1px solid var(--text);
  border-radius: 20px;
  background-color:rgba(0, 0, 0, 0.2);
  color: var(--text);
  outline: none;
  
}
.edit-error{
  width: 100%;
  height: 60px;
  padding: 26px;
  border: 2px solid red;
  border-radius: 20px;
  background-color:rgba(0, 0, 0, 0.2);
  color: var(--text);
  outline: none;
}
textarea.edit-input, textarea.edit-error{
  width: 100%;
  height: auto;
}

/* animation entrance */
.animate-enter {
  animation: animate-enter-frames 0.9s ease-in 0s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(25px, 0);
}
@keyframes animate-enter-frames {
  from {
    opacity: 0;
    transform: translate(25px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}






/*media breakpoints*/
 
@media screen and (max-width: 500px){   /*phone view*/
  .login-form, .sign-form{
    width: auto;
    height: auto;
    
  }

  .login-form{
    margin-top: 50%;
  }

  .login-input{
    width: 90%;
  }
  .login-pic, .sign-pic{
    background-position: center;
  }
  .signup-input{
    width: 100%;
  }
  .edit-input{
  width: 100%;
  }

  .signup-input, .login-input{
    font-size: 15px;
    padding: 18px;
  }

  .login-text{
      font-size: 18px;
      color: var(--text)
  }
  .error-msg{
    font-size: 12px;
  }
  
  .change::placeholder{
  color: #C9C9C9;
  }

  
  

}

@media screen and (max-width: 500px){    /*phone view and screens between*/
  .login-form, .sign-form{
    width: auto;
    height: auto;  
  }

  .login-form{
    margin-top: 50%;
  }

  .login-input{
    width: 95%;
  }
  .login-pic, .sign-pic{
    background-position: center;
  }
  .signup-input{
    width: 100%;
  }

  .signup-input, .login-input{
    font-size: 18px;
    padding: 18px;
  }

  .login-text{
      font-size: 18px;
  }
  .error-msg{
    font-size: 14px;
  }
  .change::placeholder{
  color: #C9C9C9;
  }
  .login-submit{
    height: 50%;
    width: auto;
  }
  button{
    font-size: 6px;

  }
  
  
  
} 


@media screen and (min-width: 768px){    /*tablet view most likely*/
  .login-form, .sign-form{
    width: auto;
    height: auto;  
  }

  .login-form{
    margin-top: 50%;
  }

  .login-input{
    width: 40%;
  }
  .login-pic, .sign-pic{
    background-position: center;
  }
  .signup-input{
    width: 100%;
  }

  .signup-input, .login-input{
    font-size: 18px;
    padding: 18px;
  }

  .login-text{
      font-size: 18px;
  }
  .error-msg{
    font-size: 14px;
  }
  .change::placeholder{
  color: #C9C9C9;
}
  
  
} 

@media screen and (min-width: 992px){    /*desktop view most likely*/
  .login-form, .sign-form{
    width: auto;
    height: auto;  
  }

  .login-form{
    margin-top: 50%;
  }

  .login-input{
    width: 32%;
  }
  .login-pic, .sign-pic{
    background-position: center;
  }
  .signup-input{
    width: 50%;
  }

  .signup-input, .login-input{
    font-size: 18px;
    padding: 18px;
  }

  .login-text{
      font-size: 18px;
  }
  .error-msg{
    font-size: 15px;
  }
  .change::placeholder{
  color: #C9C9C9;
}
  
  
} 
