/* color schemes */
/* @media (prefers-color-scheme: light) {
  body{
    --text: #080603;
  --background: #fbfafa;
  --interact: #414141;
  --posthover: #ECEBEB;
   --border: rgb(235, 238, 240);
  }
} */

html[data-theme="dark"]{
  --text: #fbfafa;
  --background: #080603; 
  --interact: #AEAEAE;
  --posthover: #0F0E0D;
   --border:rgb(47, 51, 54); 
   --sideuser:#CCCCCC;
}
html[data-theme="light"]{
  --text: #080603;
  --background: #fbfafa;
  --interact: #414141;
  --posthover: #ECEBEB;
   --border: rgb(235, 238, 240);
   --sideuser:#393939;
}
html[data-theme="medium"]{
  --background: #19252F;
  --text: #fbfafa;
  --posthover: #364049;
  --border: rgb(56, 68, 77);
  --interact: #AEAEAE;
  --sideuser: #D6D6D6;
}
html[accent-theme="rgb(244, 93, 34)"]{
--accent: rgb(244, 93, 34);
--darkaccent: #FF7720;
--hover: rgb(244, 93, 34, 0.1);
}
html[accent-theme="rgb(224, 36, 94)"]{
--accent: rgb(224, 36, 94);
--darkaccent: #FF4040;
--hover: rgb(224, 36, 94, 0.1)
}
html[accent-theme="rgba(29,161,242,1.00)"]{
  --accent: rgba(29,161,242,1.00);
  --darkaccent: #4C4CFC;
  --hover: rgb(29,161,242,0.1)
}
html[accent-theme="rgb(23, 191, 99)"]{
  --accent: rgb(23, 191, 99);
  --darkaccent: #1C800A;
  --hover: rgb(23, 191, 99, 0.1);
}
/* mainly home properties */
.main{
  width: 40%;
}
.main-view{
  border-right: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  /* border-radius: 15px; */
  text-align: left;
}

.view{
  border-bottom: 2px solid var(--border);
  text-align: left;
  width: auto;
}

.tweet-img{
  width: 100%;
  height: 10%;
  border-radius: 25px;
}

.user-logo{
  width:50px;
  height: 50px;
  border-radius: 50%;
  float:left;
}
.show-detail-1{
  margin-top: 57px;
}
.show-detail{
  display: block;
  color: var(--text);
  background-color: var(--background);
  z-index: 2 ;
  position: absolute;
  box-shadow: 0 0 8px grey;
  border-radius: 15px;
  margin-top: 60px;
  min-width: 230px;
  max-width: 290px;
  transition-delay: 2s;
  transition: all 2s ease-in-out;
}
.user-content{
  display: flex;
  flex-direction: row;
}

span{
  color: grey;
  text-decoration: none;
}
span:hover{
  text-decoration: none;
}
.sidebar-username{
  color: var(--sideuser)
}
/* home properties */

/* explore page */
.explore-photo{
  height: 296px;
  width: 100%;
}

.explore-data{
  color: white;
  font-weight: 900;
  font-size: 23px;
  margin-top: -17%;
  text-shadow: 1px 1px #000;
}
/* explore page */


/* profile props */

strong {
  font-weight: 700;
}
.test{
  text-decoration: line-through;
  
}

.profile-header{
  font-size: 18px;
  font-weight: bold;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: var(--background);
  width: 105.5%;
}
.flw-flw:hover{
  text-decoration: underline;
  cursor: pointer;
}
.header-photo{
  height: 200px;
  width: 100%;
}
.counter{
  margin-top: -50px;
  padding-left: 30px;
}
.profile-logo{
  width:110px;
  height:110px;
  border-radius: 50%;
  margin-top: -6%;
}
.profile-view{
    border-bottom: 10px solid var(--interact);
    text-align: left;
    width: auto;
}
.banner-right{
  display: flex;
  float:right;
  justify-content: space-between;
  transition-duration: 2s;
  transition: all .1s ease-in-out;
}
.banner-settings{
  height: 40px;
  width: 60px;
  border: 2px solid ;
  border-radius: 50%;
  outline: none;
  fill: var(--accent);
}
.banner-msg{
  height:20px;
  fill: var(--accent);
  border-radius: 50%;
}
.banner-msg:hover, .banner-settings:hover{
  fill: black;
}
.banner-edit{
  height: 40px;
  width: 110px;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.accent{
  color: var(--accent);
}
.accent:hover{
  color: var(--accent);
}
button{
  background-color: var(--background);
  border: 0;
}
.bio-icon{
  height:18px;
  fill: grey;
}
.word-count{
  z-index: 1000;
}
.follow-tab{
 color: var(--text);
 cursor: pointer;
}
.follow-tab-active{
  color: var(--accent);
  border-bottom: 3px solid var(--accent);
  cursor: pointer;
}
.follow-tab-active:hover{ 
  background-color: var(--hover);
  text-decoration: none;
}
.follow-tab:hover{
  background-color: var(--hover);
  text-decoration: none;
  color: var(--accent)
}
/* modal edit */
.modaltest{
  z-index: 1000 ;
  position: absolute;
  width: 42%;
  transition: all .3s ease-in-out;
}
.modal-welcome{
  width: 90%;
}
.modal-welcome-submit{
  width:auto;
}
.modal-view{
  background-color: #080603;
  border: 2px solid var(--accent);
  border-radius: 26px;
}

.modal-enter{
  animation: animate-enter-frames 0.4s ease-in 0s 1 normal forwards;
  /* display: block; */
  opacity: 0;
  transform: translate(0, 25px);
}
@keyframes animate-enter-frames {
  from {
    opacity: 0;
    transform: translate(0, -25px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.delete-div{
  animation: delete-animation 0.5s ease-in 0s 1 normal forwards;
  /* display: block; */
  opacity: 1;
  /* transform: translate(0, 25px); */
}
@keyframes delete-animation {
  from {
    opacity: 1;
    /* transform: translate(0, -25px); */
  }
  to {
    opacity: 0;
    /* transform: translate(0, 0); */
  }
}
/* more */
.theme{
  display: flex;
  justify-content: space-between;
}
.more-back:hover, .more-accent:hover{
  cursor: pointer;
}
.more-back{
  border:1px white solid;
  border-radius: 8px;
  padding: 5px;
  width: 133px;
}
.more-back-active{
  border: 3px var(--accent) solid;
  border-radius: 8px;
  padding: 5px;
  width: 133px;
}
.more-light{
  background-color: #fbfafa;
  color: #080603
}
.more-dark{
  background-color: #080603;
  color: #fbfafa
}
.more-medium{
  background-color: #19252F;
  color: #fbfafa
}

.more-accent{
  /* border: 1px white solid; */
  border-radius: 50%;
  width: 7%;
  height: 38px;
  width: 38px;
}
.orange-accent{
background-color: rgb(244, 93, 34);
}
.blue-accent{
background-color: rgba(29,161,242,1.00);
}
.red-accent{
background-color: rgb(224, 36, 94);
}
.green-accent{
  background-color: rgb(23, 191, 99);
}
/* more */



/* interactive row */
.interact-row{
  background-color: inherit;
  /* align-items: center; */
  flex-direction: row;
  justify-content: space-around;
}
.interact-row:hover{
  background-color: inherit;
  text-decoration: none;

}
.like, .comment, .retweet, .delete, .retweet-disabled{
  border-radius: 50px;
  color: var(--interact);
  /* max-width: 80px; */
  flex-direction: row;
}
.retweet-true{
  color: #38BF00 ;
  border-radius: 50px;
}
.comment-true{
  border-radius: 50px;
  color: #3084DE ;
}
.like:hover{
  background-color: rgb(254, 153, 151,0.2 );
  border-radius: 50px;
  color: #FD4D4A;
}
.comment:hover, .comment-true:hover{
  background-color: rgb(151, 252, 254,0.2 );
  border-radius: 50px;
  color: #30DBDE ;
  /* #395F5F */
}
.retweet:hover, .retweet-true:hover{
  background-color: rgb(75, 255, 0 ,0.2 );
  border-radius: 50px;
  color: #38BF00 ;
}
.retweet-disabled:hover{
  border-radius: 50px;
  color: #38BF00 ;
}
.delete:hover{
  background-color: #9D2121;
  border-radius: 50px;
  color: white;
}

/* interactive row */


/* post */
.name-link{
  color: var(--text)
}
.name-link:hover{
  color: var(--text)
}
.post-div{
  /* transition: opacity 3s ease-out 5s; */
  transition: all 5s ease-in-out;
  /* transition-duration: 2s; */
}
.post-div:hover{
  text-decoration: none;
}
.main-post-div:hover{
  background-color: var(--posthover);
  cursor: pointer;
}
.post-data{
  font-size: 18px;
  width: 100%;
}
.post-view{
  border-bottom: 12px solid #9C9C9C;
  width: auto;
}
.post-link{
  text-decoration: none;
  color:var(--text);
}
.post-link:hover{
  text-decoration: none;
  color:var(--text);
}
.post-menu{
  fill: grey;
  height:24px;
}
.post-menu:hover{
  fill:var(--accent)
}

/* post */

/* bottom row for phone view */
.just-mobile{
  display: none;
}
.bottom-row{
  position:fixed;
  width:100%;
  display: flex;
  bottom: 0;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--background);
  border-top: 1px solid var(--text);
  
}
.bottom-row-link{
  fill: var(--text);
  color: var(--text);
  cursor: pointer;
  padding: 2%;
}
.bottom-row-link-active{
  fill: var(--accent);
  text-decoration: none;
  color: var(--accent);
}
.bottom-row-link, .bottom-row-link-active{
  padding-top: 2%;
  width: 25%;
}
.bottom-row-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 500px){   /*phone view*/
  /* .user-name-tweet{
     margin-left: 26px; 
  } */
  .just-mobile{
    display: flex;
  }

  .main-view{
    font-size: 14px;
    margin-left: -10% !important;
    border-right: 0px ;
    border-left: 0px ;
    padding-bottom: 20% !important; 
}

  .tweet-img{
    width: 100%;
    height: 70%;
  }
  .profile-logo{
    margin-top: -14%;
  }
  .profile-header{
    width: auto;
  }

  /* modal edit */
  .modaltest{
    width: 100%;
    height: 40%;
  }
  .theme{
    display: block;
    justify-content: space-around;
    margin-left: 17%;
  }
  
}

@media screen and (min-width: 501px) and (max-width: 768px){
  .main-view{
    margin-left: 10%;
    
  }
  .profile-header{
    width: auto;
  }
}

@media screen and (max-width: 992px){

  .main-view{
    width: 19%;
  }
}

@media screen and (max-width: 1199px){
  .main-view{
    /* width: 19%; */
    margin-left: -4%;
  }
}