/* color schemes */
html[data-theme="dark"]{
  --accent: #ff6300;
  --darkaccent: #b45235;
  --text: #fbfafa;
  --background: #080603; 
  --interact: #AEAEAE;
  --posthover: #0F0E0D;
   --hover: rgb(242,156,80,0.4);
}
html[data-theme="light"]{
  --text: #080603;
  --background: #fbfafa;
  --darkaccent: #ECD4CC;
  --interact: #414141;
  --posthover: #ECEBEB;
   --hover: rgb(242,156,80,0.4);
}

/* mainly home properties */
.main{
  width: 40%;
}
.main-view{
  border: 1px solid var(--text);
  border-radius: 15px;
  text-align: left;
  width: 103%;
}

.main-view:before{
  filter: blur(5px);
}

.view{
  border-bottom: .02px solid var(--text);
  text-align: left;
  width: auto;
}

.tweet-img{
  width: 100%;
  height: 10%;
  border-radius: 25px;
}

.user-logo{
  width:50px;
  height: 50px;
  border-radius: 50%;
  float:left;
}
.show-detail-1{
  margin-top: 57px;
}
.show-detail{
  display: block;
  color: var(--text);
  background-color: var(--background);
  z-index: 2 ;
  position: absolute;
  box-shadow: 0 0 8px grey;
  border-radius: 15px;
  margin-top: 60px;
  min-width: 230px;
  max-width: 290px;
  transition-delay: 2s;
  transition: all 2s ease-in-out;
}
.user-content{
  display: flex;
  flex-direction: row;
}

span{
  color: grey;
  text-decoration: none;
}
span:hover{
  text-decoration: none;
}
/* home properties */

/* profile props */

strong {
  font-weight: 700;
  /* for fullname. You can turn it to a Class. */
}

.profile-header{
  font-size: 18px;
  font-weight: bold;
  position: sticky;
  z-index: 1;
  top: 52px;
  background-color: var(--background);
  width: 105.5%;
  height: 66px;
  border-radius: 15px 15px 0 0;
}
.profile-header-scroll{
  font-size: 18px;
  font-weight: bold;
  position: sticky;
  z-index: 1;
  top: 52px;
  background-color: var(--background);
  width: 105.5%;
  height: 66px;
}

/* .banner{
  width: 100%;
  height: 20%;
} */
.header-photo{
  height: 200px;
  width: 100%;
}
.counter{
  margin-top: -50px;
  padding-left: 30px;
}
.profile-logo{
  width:90px;
  height:90px;
  border-radius: 50%;
  margin-top: -6%;
}
.profile-view{
    border-bottom: 10px solid var(--darkaccent);
    text-align: left;
    width: auto;
}
.banner-right{
  display: flex;
  float:right;
  justify-content: space-between;
  transition-duration: 2s;
  transition: all .1s ease-in-out;
}
.banner-settings{
  height: 40px;
  width: 60px;
  border: 2px solid ;
  border-radius: 50%;
  outline: none;
  fill: var(--accent);
}
.banner-msg{
  height:20px;
  fill: var(--accent);
  border-radius: 50%;
}
.banner-msg:hover, .banner-settings:hover{
  fill: black;
}
.banner-edit{
  height: 40px;
  width: 110px;
  /* color: var(--accent); */
  /* transition: all .3s ease-in-out; */
  /* transform: translateZ(0); */
  /* border: 2px solid ;
  outline: none; */
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

button{
  background-color: var(--background);
  border: 0;
}
.bio-icon{
  height:18px;
  fill: grey;
}
.word-count{
  z-index: 1000;
}
.follow-tab{
 color: var(--text);
 cursor: pointer;
}
.follow-tab-active{
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
  cursor: pointer;
}
.follow-tab-active:hover{ 
  background-color: var(--hover);
  text-decoration: none;
}
.follow-tab:hover{
  background-color: var(--hover);
  text-decoration: none;
  color: var(--accent)
}
/* modal edit */
.modaltest{
  z-index: 1000 ;
  position: absolute;
  width: 42%;
  transition: all .3s ease-in-out;
}
.modal-welcome{
  width: 90%;
}
.modal-welcome-submit{
  width:auto;
}
.modal-view{
  background-color: #080603;
  border: 2px solid var(--accent);
  border-radius: 26px;
}

.modal-enter{
  animation: animate-enter-frames 0.4s ease-in 0s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}
@keyframes animate-enter-frames {
  from {
    opacity: 0;
    transform: translate(0, -25px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* interactive row */
.interact-row{
  background-color: inherit;
  /* align-items: center; */
  flex-direction: row;
  justify-content: space-around;
}
.interact-row:hover{
  background-color: inherit;
  text-decoration: none;

}
.like, .comment, .retweet, .delete{
  border-radius: 50px;
  color: var(--interact);
  /* max-width: 80px; */
  flex-direction: row;
}

.like:hover{
  background-color: rgb(254, 153, 151,0.2 );
  border-radius: 50px;
  color: #FD4D4A;
}
.comment:hover{
  background-color: rgb(151, 252, 254,0.2 );
  border-radius: 50px;
  color: #30DBDE ;
  /* #395F5F */
}
.retweet:hover{
  background-color: rgb(75, 255, 0 ,0.2 );
  border-radius: 50px;
  color: #38BF00 ;
}
.delete:hover{
  background-color: #9D2121;
  border-radius: 50px;
  color: white;
}

/* interactive row */


/* post */
.name-link{
  color: var(--text)
}
.name-link:hover{
  color: var(--text)
}
.post-div{
  /* transition: opacity 3s ease-out 5s; */
  transition: all 5s ease-in-out;
  /* transition-duration: 2s; */
}
.post-div:hover{
  text-decoration: none;
}
.main-post-div:hover{
  background-color: var(--posthover);
  cursor: pointer;
}
.post-data{
  font-size: 18px;
  width: 100%;
}
.post-view{
  border-bottom: 12px solid #9C9C9C;
  width: auto;
}
.post-link{
  text-decoration: none;
  color:var(--text);
}
.post-link:hover{
  text-decoration: none;
  color:var(--text);
}
.post-menu{
  fill: grey;
  height:24px;
}
.post-menu:hover{
  fill:var(--accent)
}
.dots-wrapper{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 1);  */
  transition: all .3s ease-in-out;
}
.dots{
  background-color: black;
  box-shadow: 0 0 8px grey;
  border-radius: 9px;
  float: left;
  margin-left: 61%;
  width: 40%;
}
.dots-button{
  width: 100%;
  text-align: left;
}
.dots-delete{
  color: red;
  background-color: inherit;
  width: 100%;
  border-radius: 9px;
}
.dots-delete:hover{
  background-color: rgb(246, 234, 223, 0.05);
  border-radius: 9px;
  width: 100%;
}
.three-dots{
  float: right;
}
.three-dots:hover{
  background-color: rgb(242,156,80,0.4);
  border-radius: 15px;
  /* width: 13px;  */
}
/* post */


@media screen and (max-width: 500px){   /*phone view*/
  /* .user-name-tweet{
     margin-left: 26px; 
  } */

  .main-view{
    font-size: 13px;
  }

  .tweet-img{
    width: 100%;
    height: 70%;
  }
  .profile-logo{
    margin-top: -14%;
  }
  .profile-header{
    width: auto;
  }

  /* modal edit */
  .modaltest{
    width: 100%;
    height: 40%;
  }

  
}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 992px){

  .main-view{
    width: 19%;
  }
}

@media screen and (max-width: 1199px){
  .main-view{
    width: 19%;
    margin-left: -4%;
  }
}