/* color schemes */
:root{
  /* --accent: #ff6300; */
  --inputbk: rgba(65, 61, 61, 1);
  --text: white;
  --nav: rgb(47, 47, 43, 1)
}

html[data-theme="dark"]{
  /* --accent: #ff6300; */
  /* --darkaccent: #b45235; */
  --text: #fbfafa;
  --background: #080603; 
}

html[data-theme="light"]{
  --text: #080603;
  --background: #fbfafa;
}

.navbarbg{
  background-color: var(--background);
}

.search{
  width:100%;
}

.nav-logo{
  font-size: 20px;
  /* color:  */
}
.nav-logo:hover{
  color: var(--darkaccent);
}
.search-input{
  padding: 23px;
  padding-left: 16%;
  border: 1px solid var(--text);
  border-radius: 29px;
  height: 1px;
  width: 100%;
  background-color: var(--background);
  color:var(--text);
  outline: none;
}
.search-error{
  padding: 23px;
  padding-left: 16%;
  border: 2px solid red;
  border-radius: 29px;
  height: 1px;
  width: 100%;
  background-color: var(--background);
  color:var(--text);
  outline: none;
}
.search-input:focus{
  box-shadow: 0 0 13px var(--accent);
  border: 1px solid var(--accent);
}
.bi{
  fill: grey;
  position: relative;
  top: 15px;
  left: 12%;
}

/* media breakpoints */
@media screen and (max-width: 500px){   /*phone view*/
 .search-input{
   /* width: 190px; */
   width: 100%;
   font-size: 11px;
   /* margin-right: 35px; */
 }
 .navbar-brand{
   font-size: 15px;
 }
 
 .nav-link{
   font-size: 13px;
 }

 .nav-links{
    display: none;
    visibility: hidden;
  }

  .navbar{
    height: 56px;
  }

  .nav-logo{
  font-size: 18px;
  margin-right: 70px;
  }

  
}