/* color schemes */
:root{
  --accent: #f29c50;
  --darkaccent: #b45235;
  --text: #fbfafa;
  --background: #080603; 
  --hover: rgb(242,156,80,0.4);
}

.user-data{
  position: fixed;
  bottom: 50px;
  /* background-color: blue; */
  font-size: 19px;
  color:white;
  text-align: left;
}
.user-data:hover{
  background-color: var(--hover);
  border-radius: 25px;
  color: white;
}
.user-data-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
}
.user-modal{
  z-index: -1;
  position: absolute;
  box-shadow: 0 0 8px grey;
  /* border: 1px solid var(--accent); */
  color: white;
  font-size: 19px;
  width: auto;
  bottom: 70px;
  border-radius: 9px;
  background-color: black;
}
.user-modal:hover{
  box-shadow: 0 0 35px red;
  /* border: 4px solid red; */
  transition: all .5s ease-in-out;
}

.sidebar{
  /* border: 0.1px solid var(--text); */
  border-radius: 15px;
  text-align: left;
  background-color: #201e1c;
}

.sidebar:hover{
  box-shadow: 0 0 8px var(--accent);
}

.sticky{
  /* position: -webkit-sticky; */
  position: sticky;
  top: 60px;
}

.footer{
  font-size: 13px;
  text-align: left;

}

.header{
  /* position: fixed; */
  /* background-color: brown; */
  text-align: left;
  font-size: 23px;
  width: 16%;
  
}

.fixed{
  position: fixed;
}
ul{
  list-style-type: none;
  
}
.api-text{
  color: white;
}
.api-text:hover{
  color:#F29C50;
}
.api-image{
  height: 80px;
  width: auto;
}
.back-button{
  height:26px;
  fill: var(--accent)
}
.back-button:hover{
  background-color: var(--hover);
  border-radius: 50%;
}

.icon{
  height:26px;
  /* width:auto; */
  /* fill: var(--text); */
  /*  */
}
.icon-active{
  height:26px;
  /* fill: var(--accent); */
}

.header-link{
  fill: white;
  color: white;
  width: auto;
}
.header-link-active, .icon-active{
  fill: var(--accent);
  text-decoration: none;
  color: var(--accent);
  width: auto;
}

.header-title{
  font-size: 21px;
}

.header-link:hover, .header-link-active:hover{
  fill: var(--accent);
  color: var(--accent);
  background-color: var(--hover);
  border-radius: 29px;
  text-decoration: none;
  /* box-shadow: 0 0 8px var(--accent); */
}


/* tweetModal */

.modal-wrapper{
  z-index: 2 ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.tweettest{
  margin-top: 103px;
  width: 52%;
  transition: all .3s ease-in-out;
  margin-left: 24%;
  
}
.modal-view{
  background-color: #080603;
  border: 2px solid var(--accent);
  border-radius: 26px;
}
.user-tweet-img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* margin-top: 10px; */
}
/* tweetModal */

.tweet-loader{
  height: auto;
  margin-top: 303px;
  margin-left: 40%;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 500px){   /*phone view*/
  .header-title {
    display: none;
  }

  .header{
    position: absolute;
  }

  .phone-header{
    display: flex;
    position: fixed;
    flex-direction: row;
    bottom: 0;
    background-color: var(--background);
    z-index: 99 !important;
    width: 100vw !important;
    height: 56px;
    justify-content: space-evenly;
    white-space: nowrap;
  }

  .header-link{
    padding: 7px;
    width: 100%;
  }

  .header-link:hover{
    width: 46px;
    height: auto;
  }

  .phone-sidebar{
    display: none;
  }
  .more{
    display:none !important;
  }

  .user-data, .floating-name{
    display: none !important;
  }
  .tweet-btn{
    z-index:-1000;
    position: absolute;
    margin-top: -72px;
    margin-left: 62px;
    border-radius: 50%;
    width: 10px;
    
  }
  .tweettest{
    width:600%;
  }

}
