/* color schemes */
/* @media (prefers-color-scheme: light) {
  body{
    --text: #080603;
    --background: #fbfafa;
    --sidebarbg: #DCDBDB;
  }
} */

html[data-theme="dark"]{
  /* --accent: #ff6300; */
  /* --darkaccent: #b45235; */
  --text: #fbfafa;
  --background: #080603; 
  /* --hover: rgb(242,156,80,0.4); */
  --sidebarbg: #272523;
}

html[data-theme="light"]{
  --text: #080603;
  --background: #fbfafa;
  --sidebarbg: #DCDBDB;
  /* --hover: rgb(242,156,80,0.4); */
}

html[data-theme="medium"]{
  --sidebarbg: #535C63;
}

.user-data{
  position: fixed;
  bottom: 50px;
  /* background-color: blue; */
  font-size: 19px;
  color:white;
  text-align: left;
}
.user-data:hover{
  background-color: var(--hover);
  border-radius: 25px;
  color: white;
}
.user-data-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
}
.user-modal{
  z-index: 3 !important;
  position: absolute;
  box-shadow: 0 0 9px grey;
  /* border: 1px solid var(--accent); */
  color: white;
  font-size: 19px;
  width: auto;
  bottom: 70px;
  border-radius: 9px;
  background-color: black;
}
.user-modal:hover{
  box-shadow: 0 0 35px red;
  /* border: 4px solid red; */
  transition: all .5s ease-in-out;
}
.more-modal{
  z-index: 1;
  margin-top: -50px;
}
.logo{
  width: 33px;
  height: 33px;
}
.sidebar{
  /* border: 0.1px solid var(--text); */
  border-radius: 15px;
  text-align: left;
  background-color: var(--sidebarbg);
}

.sidebar:hover{
  box-shadow: 0 0 8px var(--accent);
}

.sticky{
  /* position: -webkit-sticky; */
  position: sticky;
  top: 60px;
}

.footer{
  font-size: 13px;
  text-align: left;

}

.header{
  position: relative;
  /* background-color: brown; */
  text-align: left;
  font-size: 23px;
  width: 16%;
}

.fixed{
  position: fixed;
}
ul{
  list-style-type: none;
  
}
.api-text{
  color: var(--text);
}
.api-text:hover{
  color:var(--accent);
}
.api-image{
  height: 90px;
  width: auto;
  border-radius: 12%;
}
.back-button{
  height:26px;
  fill: var(--accent)
}
.back-button:hover{
  background-color: var(--hover);
  border-radius: 50%;
}

.icon{
  height:26px;
  /* width:auto; */
  /* fill: var(--text); */
  /*  */
}
.icon-active{
  height:26px;
  /* fill: var(--accent); */
}

.header-link{
  fill: var(--text);
  color: var(--text);
  width: auto;
  cursor: pointer;
  padding: 1%;
  margin-top: 6%;
}
.header-link-active{
  padding: 1%;
  margin-top: 6%;
}
.header-link-active, .icon-active{
  fill: var(--accent);
  text-decoration: none;
  color: var(--accent);
  width: auto;
}

.header-title{
  font-size: 21px;
}
.icon-active:hover{
  background-color: var(--hover);
  border-radius: 29px;
}
.header-link:hover, .header-link-active:hover{
  fill: var(--accent);
  color: var(--accent);
  background-color: var(--hover);
  border-radius: 29px;
  text-decoration: none;
}

.tweet{
  display: none;
}
.tweet-submit{
  width: 150px;
  height: 50px;
  
}
.btn-accent{
  background-color: var(--accent);
  color: white;
  font-weight: 700;
}
.btn-accent:hover{
  color: var(--text);
  background-color: var(--hover);
}
.btn-accent-outline{
  border: 1px solid var(--accent);
  background-color: inherit;
  color: var(--accent);
  font-weight: 700;
}
.btn-accent-outline:hover{
  color: var(--accent);
  background-color: var(--hover);
}
/* tweetModal */
#tweet-modal{
  display: none;
}
.modal-wrapper{
  z-index: 2 ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 36, 34, 0.9);
}
.tweettest{
  margin-top: 86px;
  width: 33%;
  transition: all .3s ease-in-out;
  margin-left: 30%;
  
}
.modal-view{
  background-color: var(--background);
  border: 1px solid var(--background);
  border-radius: 26px;
}
.user-tweet-img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* margin-top: 10px; */
}
#tweet{
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}
.tweet-form{
  margin-top: -22px;
}
/* tweetModal */

/* no account modal */
.no-acc-wrapper{
  z-index: 2 ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}
.no-acc-test{
  margin-top: 86px;
  width: 20%;
  transition: all .3s ease-in-out;
  margin-left: 36%;
  
}
.no-acc-view{
  background-color: var(--text);
  border: 2px solid var(--darkaccent);
  border-radius: 26px;
  color: var(--background)
}
.no-acc-modal-leave{
  animation: no-acc 0.4s ease-in 0s 1 normal backwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}
@keyframes no-acc {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(0, -25px);
  }
}
/* no account modal  */


.tweet-loader{
  height: auto;
  margin-top: 303px;
  margin-left: 40%;
  transition: all .3s ease-in-out;
}

/* toggle */
input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
input[type=checkbox]:focus {
  outline: 0;
}

.toggle {
  height: 32px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  transition: all 0.2s ease;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:checked {
  border-color: #654FEC;
}
.toggle:checked:after {
  transform: translatex(20px);
}
/* toggle */

@media screen and (max-width: 500px){   
  .nav-logo{
    display: none;
  }
  .header-title {
    display: none;
  }
  .header{
    position: relative !important;
    background-color: darkblue !important;
    width: 0%;
  }
  .phone-header{
    display: flex;
    position: fixed !important;
    flex-direction: row !important;
    bottom: 0 !important;
    /* border-top-color: rgb(47, 51, 54) !important; */
    /* background-color: #f61 !important; */
    z-index: 1 !important;
    width: 42% !important;
    height: auto !important; 
    /* justify-content: space-evenly !important; */
    padding-bottom: 2%;
    /* margin-top: 78vh !important; */
    margin-left: 5%;
  }
  .wtf{
    display: flex;
    position: relative;
    background-color: gold;
    width: 100vw !important;
    margin-left: 5%;
  }
  
  .header-link, .header-link-active{
    /* background-color: blueviolet; */
    width: 100vw;
    margin-left: -9%;
    /* margin-top: 50%; */
    border-top-color: rgb(47, 51, 54) !important;
  }
  .phone-sidebar{
    display: none;
  }

  .user-data, .floating-name{
    display: none !important;
  }
  .tweet-btn{
    display: flex !important;
    z-index:1;
    position: absolute;
    display: flex;
    margin-top: -60px !important;
    margin-left: 80vw;
    border-radius: 90%;
    
  }
  .tweet-submit{
    width: 53px !important;
    height: 53px !important;
  }
  .tweettest{
    /* width: 100vw !important; */
    margin-left: -0% !important;
    /* height: 100vh !important; */
  }
  .modal-view{
    margin-top: -30%;
    width: 100vw !important;
    height: 90vh;
  }
  .tweet-text{
    display: none;
  }
  .tweet{
    margin-top: 20%;
    display: inline-block;
  }
  .btn-accent-outline, .btn-accent{
    height: 38px;
    width: auto;
  }
  .no-acc-test{
    width: 80%;
    margin-left: 10%;
  }
} 

@media screen and (min-width: 501px) and (max-width: 768px){
  .phone-sidebar{
    display: none;
  }
  .header-title {
    display: none;
  }
  .user-data-text{
    display: none;
  }
  .user-data{
    margin-left: 0%;
  }
  .user-data:hover{
    border-radius: 50% !important;
    margin-top: 100% !important;
  }
  .header{
    width: 0%;
    padding: 3%;
    margin-right: 10%;
  }
  .header-link, .header-link-active{
    margin-top: 39%;
  }
  .tweet-submit{
    width: 45px;
    height: 45px;
    margin-left: -20%;
  }
  
  .tweet-text{
    display: none;
  }
  .tweet-btn{
    margin-top: 39%;
  }
  .tweet{
    margin-top: 40%;
    display: inline-block;
  }
  .tweettest{
    width: 100% !important;
    margin-left: 10%;
    margin-top: 20%;
  }
  .header-link:hover, .header-link-active:hover{
    margin-right: 20% !important;
    /* margin-top: 200px !important; */
    border-radius: 90% !important;
    width: auto !important;
    height: auto !important;
  }

}

@media screen and (max-width: 992px){
  .phone-sidebar{
    display: none;
  }
  .header-title {
    display: none;
  }
  .user-data-text{
    display: none;
  }
  .user-data{
    margin-left: 0%;
  }
  .user-data:hover{
    border-radius: 50% !important;
    margin-top: 100% !important;
  }
  .header{
    width: 0%;
    /* margin-right: 10%; */
  }
  .header-link, .header-link-active{
    margin-top: 39%;
  }
  .tweet-submit{
    width: 45px;
    height: 45px;
    margin-left: -20%;
  }
  
  .tweet-text{
    display: none;
  }
  .tweet-btn{
    margin-top: 39%;
  }
  .tweet{
    margin-top: 40%;
    display: inline-block;
  }
  .tweettest{
    width: 100% !important;
    margin-left: 10%;
    margin-top: 20%;
  }
  .header-link:hover, .header-link-active:hover{
    margin-right: 20% !important;
    /* margin-top: 200px !important; */
    border-radius: 90% !important;
    width: auto !important;
    height: auto !important;
  }
}

@media screen and (max-width: 1199px){
  .header-title {
    display: none;
  }
  .user-data-text{
    display: none;
  }
  .user-data{
    margin-left: 0%;
  }
  .user-data:hover{
    border-radius: 50% !important;
    margin-top: 100% !important;
  }
  .header{
    width: 0%;
    margin-right: 10%;

  }
  .header-link, .header-link-active{
    margin-top: 29%;
    margin-right: 30%;
  }
  .header-link:hover, .header-link-active:hover{
    width: 81%;
    
  }
  .tweet-submit{
    width: 45px;
    height: 45px;
    margin-left: -20%;
  }
  .tweettest{
    width: 50% !important;
    margin-left: 20%;
    margin-top: 13%;
  }
  .tweet-text{
    display: none;
  }
  .tweet-btn{
    margin-top: 29%;
  }
  .tweet{
    margin-top: 40%;
    display: inline-block;
  }
}

@media screen and (max-width: 1400px){
  .tweettest{
  margin-top: 86px;
  width: 43%;
  transition: all .3s ease-in-out;
  margin-left: 27%;
  
}
}