:root{
 

  /* --accent: #dfbb29;
  --darkaccent: #ba537f;
  --inputbk: #9ea8b0;
  --text: #f7f6f3;
  --background: #2f486e; */

  --accent: #95a8ba;
  --darkaccent: #b45235;
  --text: #fbfafa;
  --background: #080603; 

   /* --accent: #f15a45;
  --darkaccent: #b99592;
  --inputbk: #a3a4ab;
  --text: #f8f8f5;
  --background: #575162; */
}

.fgh{
    background:  linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)),url("../images/charisse-kenion.jpg");
    /* min-width: 100vh; */
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
}

.top{
    margin-top: 150px;
}

.form{
    background-color: var(--background);
    width: 50%;
    border-radius: 26px;
}