:root{
 

  /* --accent: #dfbb29;
  --darkaccent: #ba537f;
  --inputbk: #9ea8b0;
  --text: #f7f6f3;
  --background: #2f486e; */

  --accent: #95a8ba;
  --darkaccent: #b45235;
  --text: #fbfafa;
  --background: #080603; 

   /* --accent: #f15a45;
  --darkaccent: #b99592;
  --inputbk: #a3a4ab;
  --text: #f8f8f5;
  --background: #575162; */
}

/* media breakpoints */
@media screen and (max-width: 500px){   /*phone view*/
  .sign-form{
    width: auto;
    height: auto;
  }
  .sign-pic{
    background-position: center;
  }
  h3, h4{
      font-size: 20px;
  }

  
}