<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <h1>Twit Clone: The best Twitter alternative</h1>
    <p>Welcome to
        <%= title %>
    </p>
    <a href="/users/register"><button class="btn btn-primary">Create Account &gt;</button></a>
</body>

</html>