<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="stylesheets/style.css" />
	<title>
		<%= title %>
	</title>
</head>

<body>
	<h1 style="text-align: center">Register</h1>

	<form id="register" onsubmit="return false">
		<div>
			<input name="fullname" id="fullname" type="text" maxlength="20" placeholder="Your Name" required />
			<p id="errname" style="color: red"></p>
		</div>
		<div>
			<input name="email" id="email" type="email" placeholder="Email address" required />
			<p id="erremail" style="color: red"></p>
		</div>
		<div>
			<input name="password" id="password" type="password" placeholder="Enter Password" pattern=".{8,}"
				title="Required 8 characters or more" required />
			<p id="errpwd" style="color: red"></p>
		</div>
		<div>
			<input name="confirmPass" id="confirmPass" type="password" placeholder="Confirm Password" required />
			<p id="errpwd2" style="color: red"></p>
		</div>
		<div>
			<button style="background-color:yellow;" type="submit" class="submit-btn">Register</button>
		</div>
	</form>
	<br />
	<a href="/"><button>go home</button></a>

</body>
</html>