<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <title><%= title %></title>
  </head>

  <body>
      <form id="register" action="" method="post">
        <input type="text" name="fullname" id="" required>
        <input type="text" name="fullname" id="">
        <input type="password" name="password" id="">
        <input type="submit">


      </form>
  </body>
</html>
