<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1><%= title  %> </h1>
    <form id="register" onsubmit="return checkInputs()">

        <input name="fullname" type="text" maxlength="20" placeholder="Your Name" required> <span
            id="errname" style="color: red"></span> <br>

        <input name="email" type="email" placeholder="Email address" required> <span id="erremail"
            style="color: red"></span> <br>

        <input name="password" type="password" placeholder="Enter Password" pattern=".{8,}"
            title="Required 8 characters or more" required> <span id="errpwd" style="color: red"></span>
        <br>
        <input name="confirmPass" type="password" placeholder="Confirm Password" required> <span
            id="errpwd2" style="color: red"></span>
        <div>
            <button type="submit" class="submit-btn">Register</button>
        </div>
    </form>
    <script>
		/*For Register Form */
		//checking values entered by user
		function checkInputs() {
			var a = document.forms["register"]["name"].value.trim();
			var b = document.forms["register"]["email"].value.trim();
			var c = document.forms["register"]["password"].value.trim();
			var d = document.forms["register"]["confirmPass"].value.trim();

			//reset all error texts to null
			document.getElementById("errname").innerHTML = "";
			document.getElementById("erremail").innerHTML = "";
			document.getElementById("errpwd").innerHTML = "";
			document.getElementById("errpwd2").innerHTML = "";

			var reg = new RegExp('[^ a-zA-Z0-9_]');

			if (reg.test(a)) {
				document.getElementById("errname").innerHTML = "Name contains illegal characters ";
				return false;
			}
		
			if (b.indexOf('.') - b.indexOf("@") < 2) {
				document.getElementById("erremail").innerHTML = "Invalid email address";
				return false;
			}
			if (c.length < 8) {
				document.getElementById("errpwd").innerHTML = "Required 8 or more characters";
				return false;
			}
			if (c !== d) {
				document.getElementById("errpwd2").innerHTML = "Passwords do not match";
				return false;
			}
		}
	</script>
</body>
</html>