<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="stylesheets/style.css" />
	<title>
		<%= title %>
	</title>
</head>

<body>
	<h1 style="text-align: center">Register</h1>

	<form id="regform" method="POST" onsubmit="return false">
		<div>
			<input name="fullname" id="fullname" type="text" maxlength="20" placeholder="Your Name" required> <span
				id="errname" style="color: red"></span>
		</div>
		<div>
			<input name="email" id="email" type="email" placeholder="Email address" required> <span id="erremail"
				style="color: red"></span>
		</div>
		<div>
			<input name="password" id="password" type="password" placeholder="Enter Password" pattern=".{8,}"
				title="Required 8 characters or more" required> <span id="errpwd" style="color: red"></span>
		</div>
		<div>
			<input name="confirmPass" id="confirmPass" type="password" placeholder="Confirm Password" required> <span
				id="errpwd2" style="color: red"></span>
		</div>
		<div>
			<button type="submit" class="submit-btn">Register</button>
		</div>
	</form>
	<br>
	<a href="/"><button>go home</button></a>
	
</body>

</html>