<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<title>
		TwitClone: Create Account
	</title>
</head>
<% if (errors) {   errors = JSON.parse(errors);  } %>
<body>
	
	<h1 style="text-align: center">Create Account</h1>
	<form id="register" method="POST" action="/register"> 
		<div class="form-group">
			<input name="fullname" id="fullname" type="text" maxlength="20" placeholder="Your Name" required />
			<p class="error-p"><%= errors[0] %></p>
		</div>
		<div class="form-group">
			<input name="email" id="email" type="email" maxlength="30" placeholder="Email address" required />
			<p class="error-p"><%= errors[1] %></p>
		</div>
		<div class="form-group">
			<input name="password" id="password" type="password" maxlength="20" placeholder="Enter Password" pattern=".{8,}"
				title="Required 8 characters or more" required />
				<p class="error-p"><%= errors[2] %> </p>
		</div>
		<div class="form-group">
			<input name="confirmPass" id="confirmPass" type="password" maxlength="20" placeholder="Confirm Password" required />
			<p class="error-p"><%= errors[3] %> </p>
		</div>
		<div>
			<button id="submit-btn" type="submit">Register</button>
		</div>
	</form>
	<br />
	<a href="/"><button class="btn btn-primary"> &lt; Go Home</button></a>

</body>
</html>
